span.badge {
    min-width: 3rem;
    padding: 0 6px;
    margin-left: 14px;
    text-align: center;
    font-size: 1rem;
    line-height: 22px;
    height: 22px;
    color: #757575;
    float: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (max-width:$small-screen-up) {
    span.badge {
        font-size: .76rem;
        .small-icons { font-size: 6px; }
    }
}